.pagination-container{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
  }
  
  .pagination-number{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .page-number{
    font-size: 1rem;
    color: #48ff00;
    background-color: #17181C;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
  }
  
  .page-number:hover{
    background-color: #eaebedb9;
    color: #F36B59;
    transition: 300ms;
  }
  
  .pagination-prev-next{
    color: #48ff00;
    padding: 5px;
    border-radius: 5px;
    background-color: #17181c;
    width: 30px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: 300ms;
  }
  
  .pagination-prev-next:hover{
    background-color: #eaebedb9;
    color: #F36B59;
    transition: 300ms;
  }
  
  .page-active{
    border: 2px solid #00ffea;
  }
  

  @media screen and (min-width: 319px) {

    .page-number{
      font-size: 1.5rem;
    }

    .pagination-prev-next{
      font-size: 1.5rem;
    }
  }